<nav class="navbar navbar-light primebg">
    <button class="btn primebg " class="openbtn" onclick="openNav()">
    <span class=" primecolor">Jacket </span>
  </button>
</nav>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<div class="card primebg">
  	<div class="card-header" id="headingTwo">
      	<h5 class="mb-0">
        	<button class="btn btn-link collapsed" >
				<a href="/"><p>Home</p></a>
        	</button>
    	</h5>
	</div>
	</div>
  	<div id="accordion">
  		<div class="card primebg">
    		<div class="card-header" id="headingTwo">
      			<h5 class="mb-0">
        			<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          				Teams And Rosters
        			</button>
      			</h5>
    		</div>
    		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      			<div class="card-body">
					  <a href="/Rosters/League-Of-Legends"><p>League Of Legends</p></a>
					  <a href="/Rosters/Rocket-League"><p>Rocket League</p></a>
      			</div>
    		</div>
  		</div>
  		<div class="card primebg">
    		<div class="card-header" id="headingThree">
      			<h5 class="mb-0">
        			<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          				Other Socials
        			</button>
      			</h5>
    		</div>
    		<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      			<div class="card-body">
					<a href="https://www.twitch.tv/williamsburgesports"><p>Twitch</p></a>
					<a href="https://www.instagram.com/williamsburgesports/"><p>Instagram</p></a>
					<a href="https://www.youtube.com/channel/UC4d7gUucEz5sM0RvxEavdVg?view_as=subscriber"><p>Youtube</p></a>
					<a href="https://twitter.com/WburgEsports"><p>Twitter</p></a>
      			</div>
    		</div>
		  </div>
		<div class="card primebg">
  			<div class="card-header" id="headingTwo">
      			<h5 class="mb-0">
        			<button class="btn btn-link collapsed" >
						<a href="/About"><p>About Us</p></a>
        			</button>
    			</h5>
			</div>
		</div>
		<div class="card primebg">
  			<div class="card-header" id="headingTwo">
      			<h5 class="mb-0">
        			<button class="btn btn-link collapsed" >
						<a href="https://www.wburg.k12.ky.us/"><p>More Jackets</p></a>
					</button>
    			</h5>
			</div>
		</div>
	</div>
</div>
<script>
  function openNav() {
  document.getElementById("mySidebar").style.width = "20rem";
  document.getElementById("main").style.marginLeft = "20rem";
}
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>