<nav class="navbar navbar-light primebg">
    <button class="btn primebg " class="openbtn" onclick="openNav()">
    <span class=" primecolor">Jacket </span>
  </button>
</nav>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<div class="card primebg">
  	<div class="card-header" id="headingTwo">
      	<h5 class="mb-0">
        	<button class="btn btn-link collapsed" >
				Home 
        	</button>
    	</h5>
	</div>
  	<div id="accordion">
  		<div class="card primebg">
    		<div class="card-header" id="headingTwo">
      			<h5 class="mb-0">
        			<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          				Teams And Rosters
        			</button>
      			</h5>
    		</div>
    		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      			<div class="card-body">
        			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      			</div>
    		</div>
  		</div>
  		<div class="card primebg">
    		<div class="card-header" id="headingThree">
      			<h5 class="mb-0">
        			<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          				Other Socials
        			</button>
      			</h5>
    		</div>
    		<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      			<div class="card-body">
        			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      			</div>
    		</div>
		  </div>
		<div class="card primebg">
  			<div class="card-header" id="headingTwo">
      			<h5 class="mb-0">
        			<button class="btn btn-link collapsed" >
						About Us
        			</button>
    			</h5>
			</div>
		</div>
		<div class="card primebg">
  			<div class="card-header" id="headingTwo">
      			<h5 class="mb-0">
        			<button class="btn btn-link collapsed" >
						More Jackets
        			</button>
    			</h5>
			</div>
		</div>
	</div>
<script>
  function openNav() {
  document.getElementById("mySidebar").style.width = "20rem";
  document.getElementById("main").style.marginLeft = "20rem";
}
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>